/*div{*/
    /*font-weight:bolder;*/
    /*font-size: large;*/
    /*background: black !important;*/
    /*color: white !important;*/
/*}*/

.inversionEnabled{
    filter: invert(100%) !important;
    background: black !important;
}

.inversionDisabled{
    filter: none;
}