/*#enableButton {*/
    /*background: black;*/
    /*color: white;*/
    /*font-size: 20em;*/
    /*width: 791px;*/
    /*height: 335px;*/
/*}*/

body{
    background: black;
    color: white;
}

#enableButton{
    border: white solid thin ;
}